* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1em;
    font-family: "Press Start 2P", system-ui;
}

header {
    background-color: rgb(25, 18, 66);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(202, 188, 224);
}

footer {
    background-color: rgb(25, 18, 66);
    padding: 30px 20px;
}

#about {
    background-color: rgb(127, 86, 192);
    padding: 20px;
    text-align: center;
}

#articles {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin-bottom: 3rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
}

ol {
    padding-left: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}