* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(25, 18, 66);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

footer {
    background-color: rgb(25, 18, 66);
    padding: 30px 20px;
}

#about {
    background-color: rgb(127, 86, 192);
    padding: 20px;
    text-align: center;
}

#articles {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

p {
    text-align: justify;
}

h2 {
    text-align: center;
}